.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    justify-content: center;
}

.text-section {
    text-align: center;
}

.content-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 16px;
    justify-items: center;
    align-items: start;
    margin-top: 32px;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .text-section {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}
